h1 {
    background-color: #79a36c;
    font-family: monospace;
    font-weight: bold;
    text-align: right;
    color: #E3EBBD;
    width: 100%;
    height: 50px;
    margin: 0;
}

body {
    background-color: #E3EBBD;
}

#ASP {
    color: #423526;
    font-family: monospace;
    font-size: 20px;
    float: right;
    padding: none;
    margin-right: 380px;
    margin-top: 50px;
    border-style: solid;
    border-radius: 12px;
    background-color: #A6D16C;
    border-width: 15px 15px;
    border-color: #A6D16C;
   
}

p {
    color: #423526;
    font-family: monospace;
    float: right;
    width: 500px;
    font-size: 18px;
    margin-top: 130px;
    margin-right: -550px;
    margin-bottom: 200px;
    
    
}

#imageone {
    border-style: solid;
    border-width: 15px 15px;
    border-color: #A6D16C;
    border-radius: 12px;
    padding: none;
    margin-left: 30px;
    margin-top: 40px;
}

#imagetwo {
    border-style: solid;
    border-width: 15px 15px;
    border-color: #A6D16C;
    border-radius: 12px;
    padding: none;
    float: left;
    margin-left: 660px;
    
    
}

#LCP {
    color: #423526;
    font-family: monospace;
    font-size: 20px;
    float: left;
    padding: none;
    margin-left: 415px;
    margin-top: -300px;
    border-style: solid;
    border-radius: 12px;
    background-color: #A6D16C;
    border-width: 15px 15px;
    border-color: #A6D16C;
}

#Cube {
    color: #423526;
    font-family: monospace;
    float: right;
    width: 500px;
    font-size: 18px;
    margin-right: 660px;
    margin-top: -220px;
}
.main{height: 100vh;}
.project2{justify-content: space-between;}